[push]
  default = current
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[core]
  editor = /usr/bin/vim
[user]
	name = jdcast
	email = john.d.cast@gmail.com
[credential]
	helper = cache --timeout=86400
