[submodule "common/.vim/bundle/vim-coffee-script"]
	path = common/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "common/.vim/bundle/vim-colors-solarized"]
	path = common/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "common/.vim/bundle/vim-json"]
	path = common/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "common/.vim/bundle/vim-pug"]
	path = common/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "common/.vim/bundle/Vundle.vim"]
	path = common/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "common/.vim/bundle/YouCompleteMe"]
	path = common/.vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
